<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>tiNy app</h2>
    </div>
    <div class="col-6">
    
    </div>
    <div class="col-sm">
      <form action="/logout" method="POST" style="margin:10px;"><button type="submit">Logout</button>
    </div>
  </div>
</div>