<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main Page</title>
 
  </head>
  <body>
<% include ./partials/_headplain %>





<div class="container">
  <div class="row">
    <div class="col-sm-8">  
      <form action="/urls" method="POST"
    style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
  </div>

</body>
</html>